<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .checked {
            color: orange;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type='text/javascript' th:src="@{../scripts.js}"></script>
</head>
<body>
<form id="bookSearch">
    <input id="queryInput" type="text" name="search" placeholder="search for books">
    <label for="startIndex">Choose start index</label>
    <input type="number" id="startIndex" name="startIndex" value="0">
    <label for="maxResults">Choose number of results:</label>
    <select name="maxResults" id="maxResults">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="40">40</option>
    </select>
    <input type="submit" value="Search">
    <input id="savedQuery" type="hidden">
</form>
<form th:action="@{logout}" method="post">
    <button style="float: right">Log Out</button>
</form>

<form th:action="@{listen}" method="get">
    <button style="float: right">See subscribed books</button>
</form>

<div id="searchResults">
    this is the search result box
</div>
<script>
    $(document).ready(function () {
        $('#bookSearch').submit(
            function (event) {
                event.preventDefault();
                var query = $("#queryInput").val();
                var maxResults = $("#maxResults").val();
                var startIndex = $("#startIndex").val();
                if (startIndex == null || startIndex == undefined || startIndex == "") {
                    startIndex = 0;
                }
                searchForBooks(query, maxResults, startIndex);
            }
        );

        $(document).on("click", "#subscribe",
            function (event) {
                event.preventDefault();
                ajaxSubscribe("POST")
            }
        );


        $(document).on("click", "#unsubscribe",
            function (event) {
                event.preventDefault();
                ajaxSubscribe("DELETE")
            }
        );

        $(document).on("click", ".bookdetails",
            function (event) {
                event.preventDefault();
                var bookid = $(this).find("input").val();
                findBookDetails(bookid, "#searchResults");
            });

        $(document).on("submit", "#ratingForm", function (event){
            event.preventDefault();
            ajaxRating($("#ISBN_13").text(),$("#ratingSelect").val(), $("#bookId").val());
        });
    })
</script>
</body>


</html>